#gridTable {
    width:100%;
    display:table;
}

#gridTable thead, tbody {
    float: left;
    width: 100%;
}

#gridTable tbody {
    overflow: auto;
    height: 30vh;
}

#gridTable tr {
    width: 100%;
    display: table;
}

#gridTable th, td {
    width: 20vw;
}

.paginationPageNumbersSelected {
    color:red;
}

#lastPageNumber {
    display:inline;
}

